@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #e3e6e6;
}

.header {
  padding: 1.5rem 2rem;
  background-color: #232f3e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.form {
  width: 30%;
  border-radius: 4px;
  background-color: #f1f1f1;
  position: relative;
}

.search-input {
  width: 100%;
  height: 38px;
  padding: 7px 10px;
  font-size: 1rem;
  color: #111;
  border: none;
  border-radius: 4px;
  outline: none;
}

.search-input:focus {
  outline: 2px solid #ff9900;
}

.search-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 15px;
}

.container-product {
  width: 100%;
  padding: 50px 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.product-card {
  width: 100%;
  max-width: 300px;
  max-height: 600px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.product-card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.container-image {
  width: 271px;
  height: 271px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__image {
  max-width: 100%;
  max-height: 100%;
}

.card__infos {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid #e3e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card__title {
  max-height: 100px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow: auto;
}

.rating__wrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.star__small {
  width: 17px;
}

.card__reviews {
  font-size: 14px;
  color: #007185;
  border-left: 2px solid #e3e6e6;
  padding-left: 8px;
}

.card__price {
  font-size: 2rem;
  font-weight: 400;
  color: #0F1111;
}